<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0a2f6bdf6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Weather App</title>
</head>

<body>
    <nav class="navbar  navbar-dark bg-dark" style="height:7rem">
        <form class="form-inline">
            <input id="locationInput" class="form-control mr-sm-2 "  type="search" placeholder="Location "
                aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <img class="nav navbar-nav navbar-right" src="sun.png" alt="logo" height="80px" width="80px">

    </nav>
</body>

</html>