<h1>Weather Forecast</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-10">

            <div class="card bg-secondary ">
                {{>header}}
                <div class="card-body">
                    <div id="iconDiv"></div>
                    
                    <div class="message">
                        <p id="city"></p>
                        <p id="temperature"></p>
                        <div id="details"></div>
                        <p id="time"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="script.js"></script>